
.page{
    width: 780px;
    margin: auto;
    
    font: size 16px; 

}
.infophpto{
       height: 250px;
}
.info{
    float: left;
}
.photo{
    
    float: right;

}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
.sec-gauche{
    float: left;
    font-weight: bold;
    font-size:20px;



}
.sec-droite{
    margin-left: 150px;
    margin-right: 30px;
}
h1{
    font-size: 28px;
    color: purple;
    border-bottom: 3px solid #3388;
}


body{
    background-color: peru;
}

